h1 {color: black;
font-size: 69px;
font-family: 'Just Another Hand', cursive;
text-align: center;}

h2 {
  text-align: center;}
  body {
  background-image: url("https://i.pinimg.com/originals/a6/22/50/a62250e0b8576e94f8082cde346ad8a7.jpg")}
  h3 {
    font-size: 40px
  }
  p {
  font-size: 30px}
.lax {
  height:250px;
   width: 250px;
